// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

//Sidebar
@import "sideBar";

//Auth (all)
@import "auth";

//Dashboard
@import "dashboard";

//Market Orders
@import "marketOrders";

@import "searchFields";

//general css
#contentSection {
    width: 100%;
    height: 100%;
    margin: 4vh auto;
}
//Resets
.row {
    margin: 0;
}
.col-md-2 {
    //this gets rid of the padding around the columns for the sidebar
    padding: 0;
}
