@import url(https://fonts.googleapis.com/css?family=Nunito);#sideBarNav {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-right: solid 1px #787878;
}

#sideBarNav #profilePicture {
  margin: 2vh 0;
  align-self: center;
  text-align: center;
  border-radius: 50%;
  max-height: 20vh;
  max-width: 10vw;
}

#sideBarNav #sideBarLinkWrapper {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sideBarNav #sideBarLinkWrapper a {
  text-align: center;
  color: #3c3c3c;
}

#loginContainer {
  min-height: 100%;
  display: flex;
  align-items: center;
}

#loginWrapper {
  height: 100%;
  width: 100%;
}

.table-height-override {
  max-height: 30vh !important;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding-top: 40px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #c7c7c7;
  background: rgba(192, 192, 192, 0.13);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 30px;
  width: 8px;
  border: 1px solid #b8b8b8;
  background: #6f6f6f;
  -webkit-box-shadow: 0 1px 1px #b4b4b4;
  background: -webkit-linear-gradient(#c8c8c8, #969696);
}

::-webkit-scrollbar-track-piece {
  height: 30px;
  width: 30px;
}

.table td,
.table th {
  vertical-align: middle !important;
  width: 0;
}

.table td .fit,
.table th .fit {
  width: 10%;
}

#marketOrdersTableWrapper {
  max-height: 80vh;
}

#deliveryGroupTable {
  max-height: 40vh;
  display: block;
}

#marketOrderGroupTable {
  max-height: 40vh;
  display: block;
}

#inventoryTableWrapper {
  max-height: 80vh;
}

.underParBorder {
  border: solid 3px #dc3545 !important;
}

.underParBg {
  background-color: #ffeb99 !important;
}

.underParBg:hover {
  background-color: #ffefaf !important;
}

.table td {
  max-width: 120px;
}

.textTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#logisticsGroupTable {
  display: block;
}

#searchResultContainer {
  max-height: 30vh;
}

#transactionsTableWrapper {
  max-height: 80vh;
}

#contentSection {
  width: 100%;
  height: 100%;
  margin: 4vh auto;
}

.row {
  margin: 0;
}

.col-md-2 {
  padding: 0;
}

