@import url(https://fonts.googleapis.com/css?family=Nunito);#sideBarNav {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-right: solid 1px #424242;
}

#sideBarNav #profilePicture {
  margin: 10vh 0;
  align-self: center;
  text-align: center;
}

#sideBarNav #sideBarLinkWrapper {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sideBarNav #sideBarLinkWrapper a {
  text-align: center;
}

.row {
  margin: 0;
}

